<table class="table table-bordered table-hover table-dark">
    <thead>
        <tr>
            <th>No.</th>
            <th>Title</th>
            <th>Description</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        {{#each tasks}}
            <tr>
                <td>{{ @index }}</td>
                <td>{{title}}</td>
                <td>{{description}}</td>
                <td>
                    <a href="/done/{{_id}}">
                        {{#if done}}
                            <span class="btn btn-dark">Sin hacer</span>
                        {{else}}
                            <span class="btn btn-success">Hecha</span>
                        {{/if}}
                    </a>
                    <a href="/edit/{{_id}}" class="btn btn-info">Editar</a>
                    <a href="/delete/{{_id}}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        {{else}}
            <tr class="text-center">
                <td colspan="4">
                    <h3>No hay tareas</h3>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>